footer {
  padding-top: 60px;
  padding-bottom: 30px;
}

.footer-nav {
  margin-bottom: 87px;
  display: flex;
  justify-content: center;
}

.footer-nav-links {
  display: flex;
  width: 450px;
  justify-content: space-between;
}

.footer-nav-link {
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.footer-nav-link:hover {
  transition: 0.5ms;
  opacity: 0.5;
}

.footer-text {
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  
  .container {
    width: 100%;
  }

  footer {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  .footer-nav {
    margin-bottom: 41px;
  }

  .footer-nav-links {
    width: 281px;
  }

  .footer-nav-link {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-text {
    font-size: 13px;
    line-height: 18px;
  }
}
